*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #1c1c1c;
    color: #fff;
    
}
.border-box {
    padding: 3rem;
    background-color: #23252C;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container{
    width: 317px;
    background-color: #1c1c1c; 
    font-family: 'Inter', san-serif;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
   
}
.profile_img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.header h4{
    font-size: 25px;
    margin: 20px 0 15px 0;
}
.header h6{
    font-size: 14px;
    color: tomato;
    font-weight: 100;
    margin-bottom: 8px;
}
.header p{
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 8px;

}

.button_section> button{
    background-color: white;
    border: none;
    margin-right: 15px;
    padding: 10px;
    width: 115px;
    margin-top: 7px;
    border-radius: 4px;
}
.button_section button svg{
    margin-right: 5px;
}

/* About Section */

.about_section{
    margin: 30px 10px 0px 25px;

    text-align: left;

}
.about_section h2{
    margin: 9px 0px 8px 0px;
    font-size: 20px;
}
.about_section p{
    font-size: 10px;
}